.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  width: 5.625rem;
  height: 3.25rem;
  margin: -1.6875rem auto auto 8px;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
}